@import "tailwindcss";
@import "@heroui/styles";

@theme{
    --color-primary: #ff0000;
    --color-palette1: #ffadb9;
    --color-palette2: #f86f86;
    --color-palette3: #c7435e;
    --color-palette4: #980d38;
    --color-palette5: #5a021d;
}
